In [2]:
import dtale 
import numpy as np
import pandas as pd
from scipy import stats
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [3]:
df = pd.read_json('../data/model_data/data.json')

DTale is a cool tool to visualize dataframes and make plots on the spot!

In [10]:
dtale.show(df)

We want to log-transform price. We do this for interpretability reasons; see the section at the end about RMSE.

In [4]:
df.price = df.price.apply(lambda x: np.log(x))

Here, we will DROP unneeded columns/entries that will make regression very difficult while also not adding a whole lot; this includes the categorical variables, very sparse fields like `year_built`, and redundant information like `address`.

In [5]:
df = df[df['property_type'].isin(['house', 'apartment'])].reset_index()
df = df.drop(['images', 'description', 'company', 'year_built', 'utilities', 'address', 'index'], axis=1)

## TODO: split coordinates into two separate features: `lat` and `lon`.

In [15]:
# ## TODO: split coordinates into latitude and longitude
df['lat'] = ???
df['lon'] = ???

## TODO: impute relevant fields

In [11]:
def impute_area(x):
    pass

In [12]:
def impute_laundry(x):
    pass

In [13]:
def impute_pets(x):
    pass

In [14]:
def impute_parking(x):
    pass

Here, we'll split off price to use as our labels during the training process later. We also have to modify `X` so that everything is scaled properly.

In [6]:
# split data into features (X) and labels (y)
X, y = df.drop('price', axis=1), df['price']

In [7]:
# min-max normalize numeric features
X_float = X.select_dtypes(include=np.number)
col = X_float.columns.tolist()
X_float = MinMaxScaler().fit_transform(X_float)
X_other = X.select_dtypes(exclude=np.number)
X = pd.concat([pd.DataFrame(X_float, columns=col), X_other], axis=1)

In [9]:
data = pd.concat([y, X], axis=1)
data.head()

,price,bed,bath,area,laundry,pets,parking,neighborhood,property_type
0,6.998510,0.166667,0.111111,0.102953,1.0,1.0,1.0,None,apartment
1,7.600902,0.333333,0.277778,0.235204,1.0,1.0,1.0,None,house
2,6.543912,0.250000,0.222222,NaN,1.0,0.0,1.0,None,apartment
3,7.233455,0.083333,0.111111,0.094011,1.0,1.0,1.0,None,apartment
4,7.077498,0.083333,0.111111,0.094011,1.0,1.0,1.0,None,apartment

**Check that everything has been done.** Then, save the data to the repository.

In [ ]:
# save data to repository
with open('../data/model_data/X.json', 'w') as f:
    json.dump(X, f)
    
with open ('../data/model_data/y.json', 'w') as f:
    json.dump(y, f)