In [1]:
import numpy as np
import pandas as pd
import re
import json

In [2]:
df = pd.read_json('../collection/raw_data/apartments.json')
df = df.drop(['recurring_fees', 'one_time_fees'], axis=1)
col = ['address', 'price', 'bed', 'bath', 'area', 'company', 'neighborhood', 'laundry', 'pets', 'parking', 'utilities', 'property_type', 'year_built', 'description', 'images']
df.iloc[1]

address                                         1777 Plymouth Rd
company                                                     None
price                                                   [$1,625]
bed                                                       [1 BR]
bath                                                      [1 BA]
area                                                 [730 Sq Ft]
description    Immediate occupancy! Unique opportunity to liv...
rating                                                       NaN
amenities                                                     []
Name: 1, dtype: object

In [3]:
final_rows = []
for row in df.itertuples():
    address = row[1]
    company = row[2]
    description = row[7]
    rating = row[8]
    amenities = row[9]
    
    for j, s in enumerate(row[3]):
        entry = {'address': address,
                 'company': company, 
                 'price': row[3][j],
                 'bed': row[4][j],
                 'bath': row[5][j],
                 'area': row[6][j],
                 'description': description,
                 'rating': rating,
                 'amenities': amenities
                }
        final_rows.append(entry)

In [4]:
# extract single rows and clean them
final_rows = pd.DataFrame(final_rows)

In [5]:
final_rows.iloc[0:50]

,address,amenities,area,bath,bed,company,description,price,rating
0,2709 N Spurway Dr,[{'Unique Features': ['NewConstruction']}],"2,438 Sq Ft",2Â½ BAs,3 BRs,None,BRAND NEW! This North Oaks luxury townhome on ...,"$3,300",NaN
1,1777 Plymouth Rd,[],730 Sq Ft,1 BA,1 BR,None,Immediate occupancy! Unique opportunity to liv...,"$1,625",NaN
2,908 Sybil St,"[{'Unique Features': ['No Pets Allowed, Applia...",,1 BA,2 BRs,None,(734) 680-8673 - This is a great building loca...,"$1,625",NaN
3,333 Packard St,[{'Unique Features': ['Cats Allowed - $100 Non...,375 Sq Ft,1 BA,1 BR,None,(734) 996-1991 - Four 1 Bedroom Apartment in b...,"$1,075",NaN
4,513 Krause St,[{'Unique Features': ['Lease Lengths - Contact...,900 Sq Ft,1 BA,1 BR,None,(734) 255-1299 - PRICE LOWERED! Old West Side ...,"$1,900",NaN
5,555 E William St Unit 10E,"[{'Pet Policy': []}, {'Parking': []}, {'Proper...",400 Sq Ft,1 BA,Studio,None,"Renovated 10th floor furnished highrise condo,...","$1,500",NaN
6,2918 Signature Blvd,[],"1,400 Sq Ft",2 BAs,2 BRs,None,"** FOR RENT ** Location, Location, Location! 2...","$1,900",NaN
7,3447 Cummings Dr,"[{'Pet Policy': []}, {'Property Information': ...",,1 BA,1 BR,None,(734) 709-5709 - Furnished bedrooms available ...,$700,NaN
8,City Place Ann Arbor,"[{'Unique Features': ['16' Vaulted Ceiling', '...","2,267 Sq Ft",5 BAs,6 BRs,Campus Village Communities,City Place Ann Arbor offers 6 bedroom townhome...,$920\r\n\t\t\t\t/ Person,5.0
9,City Place Ann Arbor,"[{'Unique Features': ['16' Vaulted Ceiling', '...","2,267 Sq Ft",5 BAs,6 BRs,Campus Village Communities,City Place Ann Arbor offers 6 bedroom townhome...,$970\r\n\t\t\t\t/ Person,5.0
10,City Place Ann Arbor,"[{'Unique Features': ['16' Vaulted Ceiling', '...","2,665 Sq Ft",6 BAs,6 BRs,Campus Village Communities,City Place Ann Arbor offers 6 bedroom townhome...,$975\r\n\t\t\t\t/ Person,5.0
11,City Place Ann Arbor,"[{'Unique Features': ['16' Vaulted Ceiling', '...","2,665 Sq Ft",6 BAs,6 BRs,Campus Village Communities,City Place Ann Arbor offers 6 bedroom townhome...,"$975 - 1,060\r\n\t\t\t\t/ Person",5.0
12,City Place Ann Arbor,"[{'Unique Features': ['16' Vaulted Ceiling', '...","2,616 Sq Ft",6 BAs,6 BRs,Campus Village Communities,City Place Ann Arbor offers 6 bedroom townhome...,"$1,060\r\n\t\t\t\t/ Person",5.0
13,City Place Ann Arbor,"[{'Unique Features': ['16' Vaulted Ceiling', '...","2,616 Sq Ft",6 BAs,6 BRs,Campus Village Communities,City Place Ann Arbor offers 6 bedroom townhome...,"$1,080\r\n\t\t\t\t/ Person",5.0
14,City Place Ann Arbor,"[{'Unique Features': ['16' Vaulted Ceiling', '...","2,267 Sq Ft",5 BAs,6 BRs,Campus Village Communities,City Place Ann Arbor offers 6 bedroom townhome...,"$1,185\r\n\t\t\t\t/ Person",5.0
15,306 Thompson St,"[{'Unique Features': ['No Pets Allowed, Oven, ...",,1 BA,Studio,None,(734) 996-2836 - Five (5) apartments in downto...,$935,NaN
16,536 S 4th Ave,"[{'Property Information': ['Built in 1957', '6...",550 Sq Ft,1 BA,Studio,None,Discover your new apartment at 536 S 4th Ave i...,"$1,095",4.0
17,536 S 4th Ave,"[{'Property Information': ['Built in 1957', '6...",800 Sq Ft,1 BA,2 BRs,None,Discover your new apartment at 536 S 4th Ave i...,"$1,425",4.0
18,536 S 4th Ave,"[{'Property Information': ['Built in 1957', '6...",750 Sq Ft,1 BA,2 BRs,None,Discover your new apartment at 536 S 4th Ave i...,"$1,895",4.0
19,536 S 4th Ave,"[{'Property Information': ['Built in 1957', '6...",550 Sq Ft,1 BA,Studio,None,Discover your new apartment at 536 S 4th Ave i...,"$1,095",4.0
20,536 S 4th Ave,"[{'Property Information': ['Built in 1957', '6...",800 Sq Ft,1 BA,2 BRs,None,Discover your new apartment at 536 S 4th Ave i...,"$1,425",4.0
21,536 S 4th Ave,"[{'Property Information': ['Built in 1957', '6...",750 Sq Ft,1 BA,2 BRs,None,Discover your new apartment at 536 S 4th Ave i...,"$1,895",4.0
22,722 E Kingsley St,"[{'Unique Features': ['No Pets Allowed, Oven']...",,2 BAs,6 BRs,None,(734) 996-1991 - WOW LOOK AT THIS A BEAUTIFUL ...,"$4,650",NaN
23,736 Packard St,"[{'Pet Policy': []}, {'Property Information': ...",,1 BA,Studio,None,"(734) 680-6727 - A short, 5-minute walk to Ros...","$1,050",NaN
24,"Studio, 1 bath Apartment - 1352 Wilmot Ct #1","[{'Unique Features': ['No Pets Allowed, Oven, ...",,1 BA,Studio,None,(734) 996-2836 - Three (3) apartments in build...,$925,NaN
25,"3 br, 1 bath Triplex - 1003 Packard St Unit A","[{'Unique Features': ['No Pets Allowed, Oven, ...",,1 BA,3 BRs,None,"(734) 203-7600 - 1003 Packard is a beautiful, ...","$2,100",NaN
26,411 N Ingalls St,[{'Unique Features': ['No Pets Allowed - No Ex...,"1,060 Sq Ft",2 BAs,5 BRs,None,(734) 662-8832 - Vintage converted house with ...,"$3,950",NaN
27,111 N Ashley St,[],863 Sq Ft,1Â½ BAs,1 BR,None,6 month Lease. Highly Sought After Ashley Ter...,"$2,200",NaN
28,"1 br, 1 bath House - 1309 S State St Unit 5",[{'Pet Policy': []}],,1 BA,1 BR,None,(734) 680-6727 - Steps from University of Mich...,"$1,055",NaN
29,1103 W Huron St,"[{'Unique Features': ['No Dogs Allowed, Lease ...",800 Sq Ft,1 BA,2 BRs,None,(734) 726-0357 - Quality 2-Bedroom Apartment i...,"$1,365",NaN
30,919 Addington Ln,[],"1,335 Sq Ft",2 BAs,2 BRs,None,Spotless entry level ranch with 2 bedrooms and...,"$1,650",NaN
31,701 Catherine St,"[{'Parking': []}, {'Lease Length': ['12 Months...","2,000 Sq Ft",2 BAs,6 BRs,None,"Charming 6 bedroom, 2 bathroom house in the he...","$5,750",NaN
32,"1 br, 1 bath House - 311 1/2 S 5th Ave Unit 1","[{'Pet Policy': []}, {'Features': ['Air Condit...",,1 BA,1 BR,None,(734) 680-6727 - If you love downtown living t...,"$1,195",NaN
33,1015 Church St,"[{'Unique Features': ['No Pets Allowed, Lease ...",650 Sq Ft,1 BA,1 BR,None,(734) 663-4101 - An attractive brick and cedar...,"$1,095",NaN
34,524 S 4th Ave,[{'Services': ['Laundry Facilities']}],,2 BAs,5 BRs,None,Located on South 4th between Packard and Madis...,"$3,600",NaN
35,2041-2047 Jackson Ave,"[{'Unique Features': ['No Dogs Allowed']}, {'P...",820 Sq Ft,1 BA,2 BRs,None,(734) 662-5500 - Jackson West Apartments ****S...,"$1,150",NaN
36,645 N 4th Ave,"[{'Unique Features': ['No Pets Allowed, High-S...",,1Â½ BAs,2 BRs,None,(734) 657-2096 - Unique/Fantastic opportunity....,"$2,195",NaN
37,"Studio, 1 bath House - 804 Monroe St Apt #3",[{'Unique Features': ['Cats Allowed - $100 Non...,250 Sq Ft,1 BA,Studio,None,(734) 996-1991 - 7 Total Units. Limited Parkin...,$880,NaN
38,"5 br, 3.5 bath House - 502 Catherine St","[{'Unique Features': ['Oven, High-Speed Intern...",,3Â½ BAs,5 BRs,None,(734) 203-7600 - 502 Catherine is a spacious h...,"$4,900",NaN
39,"1 br, 1 bath House - 1303 Granger Ave # 5 # 5",[{'Unique Features': ['Small Dogs Allowed - $1...,,1 BA,1 BR,None,"(734) 260-7215 - Available, Fall to Fall lease...","$1,330",NaN
40,1321 Wilmot St,[{'Unique Features': ['Utilities - Wireless In...,,1 BA,1 BR,None,(734) 996-1991 - 9 unit apartment building wit...,"$1,140",NaN
41,1039 Baldwin Ave,[],,2 BAs,1 BR,None,(734) 668-1100 - Room Available in a Charming ...,$700,NaN
42,"1 br, 1 bath Apartment - 732 S Forest Ave #5","[{'Unique Features': ['No Pets Allowed, Oven, ...",,1 BA,1 BR,None,(734) 996-2836 - Classy brick house w/Californ...,"$1,105",NaN
43,1619 S University Ave,[],,3 BAs,9 BRs,None,(734) 995-9200 - Nine bedroom furnished house ...,"$7,900",NaN
44,Pheasant Run Apartments,[{'Unique Features': ['Newly Modernized Outdoo...,750 Sq Ft,1 BA,1 BR,"Hartman & Tyner, Inc.",A great location and a wonderful home await yo...,$870,3.7
45,Pheasant Run Apartments,[{'Unique Features': ['Newly Modernized Outdoo...,900 Sq Ft,1 BA,2 BRs,"Hartman & Tyner, Inc.",A great location and a wonderful home await yo...,$995,3.7
46,Pheasant Run Apartments,[{'Unique Features': ['Newly Modernized Outdoo...,750 Sq Ft,1 BA,1 BR,"Hartman & Tyner, Inc.",A great location and a wonderful home await yo...,$870,3.7
47,Pheasant Run Apartments,[{'Unique Features': ['Newly Modernized Outdoo...,900 Sq Ft,1 BA,2 BRs,"Hartman & Tyner, Inc.",A great location and a wonderful home await yo...,$995,3.7
48,111 N Ashley St,[],922 Sq Ft,1 BA,1 BR,None,"Beautiful downtown, 6th floor, one bedroom, on...","$2,600",NaN
49,604 W Washington St,[{'Unique Features': ['Small Dogs Allowed - $2...,460 Sq Ft,1 BA,1 BR,None,(734) 996-1991 - Two One Bedroom Apartments. D...,"$1,075",NaN

In [6]:
def clean_bed(bed):  
    if 'Studio' not in bed:
        bed = bed[:-3]
    else:
        bed = 0
    return bed

final_rows['bed'] = final_rows['bed'].apply(clean_bed)

In [7]:
def clean_bath(room):
    room = room[:-3]
    if 'Â½' in room:
        room = float(room[0] + '.5')
    else:
        room = float(room)
    return room

final_rows['bath'] = final_rows['bath'].apply(clean_bath)

In [8]:
def clean_area(room):
    room = room[:-5]
    if room != '':
        if len(room) < 7:
            return float(room.replace(',', ''))
        else:
            # mean recorded if price range given
            var = lambda x: (int(x[:x.find('-')].replace(',', '')) + int(x[x.find('-') + 1:].replace(',', ''))) / 2 
            return float(var(room))   
    else:
        return np.nan

final_rows['area'] = final_rows['area'].apply(clean_area)

In [9]:
def clean_price(price):
    price = price.replace(',', '').replace('Person', '').replace('$', '').replace('/', '').strip()
    if len(price) < 7:
        return float(price)
    elif re.search('[Cc]all for [Rr]ent', price) != None:
        return np.nan
    else:
        # mean recorded if price range given
        var = lambda x: (int(x[:x.find('-')].replace(',', '')) + int(x[x.find('-') + 1:].replace(',', ''))) / 2 
        return float(var(price))

final_rows['price'] = final_rows['price'].apply(clean_price)

In [561]:
final_rows

,address,company,price,bed,bath,area,description,rating,amenities
0,2709 N Spurway Dr,None,3300.0,3,2.5,2438.0,BRAND NEW! This North Oaks luxury townhome on ...,NaN,[{'Unique Features': ['NewConstruction']}]
1,1777 Plymouth Rd,None,1625.0,1,1.0,730.0,Immediate occupancy! Unique opportunity to liv...,NaN,[]
2,908 Sybil St,None,1625.0,2,1.0,NaN,(734) 680-8673 - This is a great building loca...,NaN,"[{'Unique Features': ['No Pets Allowed, Applia..."
3,333 Packard St,None,1075.0,1,1.0,375.0,(734) 996-1991 - Four 1 Bedroom Apartment in b...,NaN,[{'Unique Features': ['Cats Allowed - $100 Non...
4,513 Krause St,None,1900.0,1,1.0,900.0,(734) 255-1299 - PRICE LOWERED! Old West Side ...,NaN,[{'Unique Features': ['Lease Lengths - Contact...
...,...,...,...,...,...,...,...,...,...
1784,3210 Mc Comb St,None,1500.0,3,1.0,988.0,"Very nice three bedroom, one bathroom ranch wi...",NaN,[]
1785,1127 Church St,None,2050.0,2,1.0,NaN,(734) 662-8832 - AUGUST: Two wonderful 2 bedr...,NaN,"[{'Unique Features': ['No Pets Allowed, Oven']..."
1786,1901 S Zeeb Rd,None,1800.0,4,1.0,2012.0,This historic farmhouse with beautiful views i...,NaN,[]
1787,616 Susan Dr,None,2000.0,3,2.0,1008.0,Lovely ranch home available for rent August 15...,NaN,"[{'Pet Policy': []}, {'Features': ['Washer/Dry..."
1788,2425 Foxway Dr,None,2800.0,4,3.5,2972.0,A very unique opportunity in the popular Foxfi...,NaN,[]

In [10]:
pets, laundry, parking, property_type, year_built, neighborhood, utilities, images = [], [], [], [], [], [], [], []
amenities = final_rows['amenities']
for row in amenities.values:
    row = json.dumps(row)
    
    if re.search('(?<!No )Cats Allowed|(?<!No )Dogs Allowed|considered', row) != None:
        pets.append(1)
    else: 
        pets.append(0)
        
    if re.search('[Ll]aundry|Washer|Dryer', row) != None:
        laundry.append(1)
    else:
        laundry.append(0)
    
    if re.search('parking', row) != None:
        parking.append(1)
    else:
        parking.append(0)
    
    year = re.search('Built in (\d*)', row)
    if year != None:
        year_built.append(year.group(1))
    else:
        year_built.append(np.nan)
        
    property_type.append('apartment')
    neighborhood.append(None)
    utilities.append([])
    images.append([])

In [11]:
final_rows['pets'] = pets
final_rows['laundry'] = laundry
final_rows['parking'] = parking
final_rows['year_built'] = year_built
final_rows['property_type'] = property_type
final_rows['neighborhood'] = neighborhood
final_rows['utilities'] = utilities
final_rows['images'] = images

final_rows = final_rows[col]

In [564]:
final_rows

,address,price,bed,bath,area,company,neighborhood,laundry,pets,parking,utilities,property_type,year_built,description,images
0,2709 N Spurway Dr,3300.0,3,2.5,2438.0,None,None,0,0,0,[],apartment,NaN,BRAND NEW! This North Oaks luxury townhome on ...,[]
1,1777 Plymouth Rd,1625.0,1,1.0,730.0,None,None,0,0,0,[],apartment,NaN,Immediate occupancy! Unique opportunity to liv...,[]
2,908 Sybil St,1625.0,2,1.0,NaN,None,None,1,0,0,[],apartment,NaN,(734) 680-8673 - This is a great building loca...,[]
3,333 Packard St,1075.0,1,1.0,375.0,None,None,1,1,0,[],apartment,NaN,(734) 996-1991 - Four 1 Bedroom Apartment in b...,[]
4,513 Krause St,1900.0,1,1.0,900.0,None,None,1,0,0,[],apartment,NaN,(734) 255-1299 - PRICE LOWERED! Old West Side ...,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1784,3210 Mc Comb St,1500.0,3,1.0,988.0,None,None,0,0,0,[],apartment,NaN,"Very nice three bedroom, one bathroom ranch wi...",[]
1785,1127 Church St,2050.0,2,1.0,NaN,None,None,1,0,0,[],apartment,NaN,(734) 662-8832 - AUGUST: Two wonderful 2 bedr...,[]
1786,1901 S Zeeb Rd,1800.0,4,1.0,2012.0,None,None,0,0,0,[],apartment,NaN,This historic farmhouse with beautiful views i...,[]
1787,616 Susan Dr,2000.0,3,2.0,1008.0,None,None,1,0,0,[],apartment,NaN,Lovely ranch home available for rent August 15...,[]
1788,2425 Foxway Dr,2800.0,4,3.5,2972.0,None,None,0,0,0,[],apartment,NaN,A very unique opportunity in the popular Foxfi...,[]

In [12]:
final_rows.to_json(r'../data/apartments.json')