In [1]:
import numpy as np
import pandas as pd
import re
import json

In [2]:
df = pd.read_json('../collection/raw_data/apartments.json')

In [3]:
df.head()

,address,company,price,bed,bath,area,description,recurring_fees,one_time_fees,rating,amenities
0,2709 N Spurway Dr,None,"[$3,300]",[3 BRs],[2½ BAs],"[2,438 Sq Ft]",BRAND NEW! This North Oaks luxury townhome on ...,[],[],NaN,[{'Unique Features': ['NewConstruction']}]
1,1777 Plymouth Rd,None,"[$1,625]",[1 BR],[1 BA],[730 Sq Ft],Immediate occupancy! Unique opportunity to liv...,[],[],NaN,[]
2,908 Sybil St,None,"[$1,625]",[2 BRs],[1 BA],[],(734) 680-8673 - This is a great building loca...,[],[],NaN,"[{'Unique Features': ['No Pets Allowed, Applia..."
3,333 Packard St,None,"[$1,075]",[1 BR],[1 BA],[375 Sq Ft],(734) 996-1991 - Four 1 Bedroom Apartment in b...,[],[],NaN,[{'Unique Features': ['Cats Allowed - $100 Non...
4,513 Krause St,None,"[$1,900]",[1 BR],[1 BA],[900 Sq Ft],(734) 255-1299 - PRICE LOWERED! Old West Side ...,[],[],NaN,[{'Unique Features': ['Lease Lengths - Contact...